*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
p {
  padding: 1em;
}

/** Body **/
.header {
  display: flex;
  justify-content: space-between;
  top: 0px;
  position: sticky;
  background: #e39210;
}

.header img {
  max-width: 200px;
  max-height: 200px;
}

.header-menu {
  margin-top: 15px;
}

.header-menu>li {
  display: inline;
  margin-right: 50px;
}

.dropdown:hover .header-navigation {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding-top: 60px;
  background-color: #2196f3;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.header-navigation {
  display: none;
}

.header-navigation li {
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.dropdown>span {
  z-index: 2;
  position: relative;
}

.mid-screen {
  color: #e39210;
  background-color: #5e5e5e;
  padding: 2em;
}

.mid-screen h1 {
  font-size: 3em;
  padding: 1em 0 1em 1em;
  margin: 0 0 1em 0;
  text-align: center;
  text-transform: uppercase;
}

.mid-screen h2 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 3em;
}

.when-where-sections {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.when-where-sections section {
  display: block;
  width: 20em;
  background-color: #e39210;
  color: black;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.when-where-sections section img {
  float: left;
  padding-right: 1em;
}

.more-info {
  margin: 1em;
}

.more-info p {
  padding: 1em;
  color: black;
}

.more-info p:first-child {
  font-size: 18px;
  color: lightgrey;
  padding-top: 2em;
  padding-bottom: 2em;
}

.more-info a {
  color: orange;
}

.more-info h1 {
  color: black;
}

.connect-box {
  background: linear-gradient(to bottom left, rgba(0, 0, 0, .10) 50%, transparent 50%);
  font-size: 1em;
  color: black;
  padding: 1em;
  text-align: center;
  width: 45em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect-box h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.connect h1 {
  display: block;
  font-size: 1em;
  margin-top: -1.5em;
  background-color: #e39210;
  border: solid #a96c11;
  padding: .5em;
}

.connect-bg {
  background: #e39210;
  width: 45em;
  margin: 0 auto;
}

.connect-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.connect-icons li a img {
  padding: 1em;
}

.sponsors-box h1 {
  font-size: 1.5em;
  color: black;
  padding: 1em 0 0 1em;
  text-transform: uppercase;
}

.sponsors-box h2 {
  color: lightgrey;
  font-size: 1em;
  padding: 1em 0 0 2em;
}

.sponsors-box h3 {
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}

.sponsors-box ul li {
  margin: 2em;
  text-align: center;
  padding: 1em;
}

.sponsors-box img {
  max-width: 70%;
  max-height: 70%;
}

.footer {
  margin-top: 2em;
  background-color: #3b3b3b;
  color: white;
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.footer-connect {
  display: flex;
}

.footer-connect li {
  padding: 1em;
}

.footer-connect img {
  max-width: 30px;
  max-height: 30px;
}

.join-sponsor {
  text-decoration: none;
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  display: block;
  background-color: #24648c;
  padding: 1.5em;
  margin: 1em auto 1em;
  width: 60%;
  text-align: center;
}

.very-bottom {
  background: black;
  text-align: center;
}

.color-bg {
  background-color: #177ab0;
}

ul {
  list-style-type: none;
}

main {
  background: white;
}

@media screen and (max-width: 499px) {
  .join-sponsor:first-of-type {
    display: none;
  }

  .join-sponsor:last-of-type {
    display: block;
  }

  .connect-icons {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 500px) {
  .mid-screen {
    background-image: url('https://cposc.org/wp-content/uploads/2018/02/homepage-hero.jpg');
  }

  .when-where-sections {
    margin: 0 auto;
  }

  .join-sponsor:first-of-type {
    display: block;
    width: 30%;
    position: relative;
    left: 20em;
    top: -5em;
  }

  .join-sponsor:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .connect-box {
    width: 100%;
  }

  .connect-bg {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .when-where-sections {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .when-where-sections section {
    margin-right: 1em;
  }

  .connect-box {
    flex-direction: row;
  }
}
